* {
    font-size: 5vh;
}

.buttons {
    display: flex;
    justify-content: center;
    
    >* {
        margin: 30px;
    }
}

fieldset {
    display: flex;
    justify-content: center;
    legend {
        text-align: center;
    }
}

#cursive {
    font-family: cursive;
}

#serif {
    font-family: serif;
}

#fantasy {
    font-family: fantasy;
}

#system-ui {
    font-family: system-ui;
}

#monospace {
    font-family: monospace;
}

.theme-field {
    display: flex;
    justify-content: space-around;
}